*{
    margin: 0;
    padding: 0px;
    box-sizing:border-box
}
body{font-family: 'Poppins', sans-serif;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: right;

}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}


.containeer{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    max-height: 80px;
}

.header .row{
    margin-top: 70px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px,0;
}

.categories{
    margin: 70px 0;

}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;

}

.col-3 img{
    width:100%;
}

.small-container{
    max-width: 1080px;
    margin: auto ;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width:100%
}

.title{
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: "";
    background: #ff523b;
    width:80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 a:link{
    color: black;
    font-weight: medium;        
    text-align: justify; 
}

h4 a:visited {
    color: green;
  }
  
h4 a:hover {
    color: rgb(237, 72, 22);
    text-decoration: underline;
  }




.menu-icon{
    margin-left: 20px;
    display: none;
}



/*-----media query for menu ------*/
@media only screen and (max-width: 800px){
    
    nav ul{
        position : absolute;
        top: 70px;
        left:0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{ 
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    nav ul li a{ 
        color: white;
    }

    .menu-icon{
        margin-left: 20px;
        display: block;
        cursor: pointer;
    }
}

.carousel-image {
    min-width: 230px;
    height: 300px;
    padding: 0px;
    border: 5px;
    border-style: solid;
    margin: 10px;
  }


/*--------------ALL MOVIE-----------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px  solid #ff523b;
    margin: 5px;
}

select:focus{
    outline:none
}


/*-----media query for menu ------*/
@media only screen and (max-width: 600px){
    .row{
        text-align:center;
    }
    .col-2, .col-3 ,.col4{
        flex-basis:100%
    }

}

/*---------------SINGLE MOVIE DETAILS-------------------*/

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0px;
}

.single-product .col-2 img{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size:22px;
    font-weight:bold;

}

.single-product input{
    width: 40px;
    height: 20px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 20px;
    border: 1px solid #ff523b;
}

.single-product label{
    line-height: 40px;       
    font-weight:bold;
    color: rgba(15, 14, 14, 0.755);
     
}

.single-product ul{
    padding-left: 30px;
     
}

input:focus{
    outline: none;
}


/*---------------Book DETAILS TABLE -------------------*/

table {   
    border-collapse: collapse;
    background-color:  rgb(221, 215, 215);     
  }

tr:nth-child(odd) td {
    border-left: 150px solid rgb(221, 215, 215);    
}
  
tr:nth-child(even) td {
    border-left: 150px solid white;
}

tr>td:first-child {
     border:0px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(221, 215, 215);
}
  
tbody tr:nth-child(even) {
    background-color: white;
  }  
  
/*-----Books------*/
.carousel-cell .text{
    width: 250px;
    text-align:left;
    padding: 5px;
}
  
